# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Build outputs
/frontend/build
/frontend/.env.local
/frontend/.env.production

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json